#
# Conda configuration
# conda create  --yes --name XX python=3.10
# conda install --yes --name XX --file requirements.txt
#
# VirtualEnv
# python -m venv venv
# source venv/bin/activate
# pip install --upgrade pip
# pip install -r requirements.txt
#

# Required by build_exe.py
pyinstaller[encryption]


# To generate README.html
# Pandoc binary is needed, see:
#  - https://pypi.org/project/pandoc/
#  - https://pandoc.org/
pandoc

pyqt6
requests

